@import url(//fonts.googleapls.com/css?family=Open+Sans:400,700,800,300);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue',Helvetica, sans-serif;
  line-height: 1.45;
}

nav {
  background: #94C315;
  box-shadow: 0 5px 3px black;
  position: absolute;
  width: 100%;
}

nav img {
  height: 60px;
  filter: drop-shadow(4px 4px 4px white);
  margin-right: 15px;

}

nav span {
  font-size: 35px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

nav ul li {
  padding: 15px 5px;
  cursor: pointer;
}

nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

nav ul li.items:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #404040;
  opacity: 0;
  transition: all 0.2s linear;
}

nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}

nav ul li.logo {
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}

nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}

nav ul li:hover a {
  color: #3392FF;
}

nav ul li i {
  font-size: 23px;
}

nav ul li.btn {
  display: none;
}

nav ul li.btn.hide i:before {
  content: '\f00d';
}
header {
  background-image: url('../images/home/header.jpg');
  background-size: auto 250%;/*THIS ONE NEEDS TO ADJUST for other devices!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  ERROR! ERROR! ERROR! ERROR!*/
  background-repeat: no-repeat;
  background-position: left top;
  animation-name: MovingBackground;
  height: 70vh;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 100%;
  box-shadow: 0 5px 3px gray;

}
@keyframes MovingBackground {
  0% {background-position: left top;}
  25% {background-position: right top;}
  50% {background-position: right bottom;}
  75% {background-position: left bottom;}
  100% {background-position: left top;}
}

section {
  padding: 40px 0;
  text-align: center;
}
.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  max-width: 80%;
  filter: drop-shadow(0 10px 10px gray);
}
.centerText {
  text-align: center;
}
.imgHolderS2 {
  width: 49%;
  display: inline-block;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}
.imgHolderS2 img {
  width: 80%;
  display: block;
  margin: 5px auto;
  border-radius: 20%;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px gray,
   -5px 0 5px gray;
}
.butn {
  display: inline-block;
  color: white;
  font-style: 20px;
  background: #92b533;
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  box-shadow: 0 5px 3px gray;
}
.butn:hover {
  background: #94C315;
}
.containA {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  max-width: 900px;
  text-align: center;
}
.quote {
  box-shadow: 0 -5px 3px gray;
  background: #92b533;
  color: #ffffff;
}
blockquote {
  margin:40px 0;
  padding: 0;
  text-align: center;
}
blockquote p {
  margin: 0 0 5px 0;
  font-size: 24px;
}
blockquote cite: {
  font-size: 16px;
  font-style: italic;
}
blockquote cite:before {
  content: '-';
  magrin-right: 5px;
}
footer {
  background: #353535;
  padding: 32px 0;
  text-align: center;
  color: #868686;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer li {
  display: inline-block;
}
footer li a {
  padding: 6px;
  font-size: 14px;
  text-decoration: none;
  color: #c3c3c3;
}

footer li a:hover {
  color: white;
}
@media screen and (max-width: 1085px){
  nav img {
    height: 60px;
    filter: drop-shadow(4px 4px 4px white);
    margin-left: 20px;
  }
  nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 5px;
  }
  nav ul li.items {
    width: 100%;
    display: none;
  }

  nav ul li.items.show {
    display: block;
  }

  nav ul li.btn {
    display: block;
  }

  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #2292FF,
      inset 0 0 10px #4492FF;
  }

  nav ul li.items:hover:after {
    opacity: 0;
  }

}
@media screen and (max-width: 900px) {
  header {
    background-image: url('../images/home/header.jpg');
    background-size: auto 250%;/*THIS ONE NEEDS TO ADJUST for other devices!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  ERROR! ERROR! ERROR! ERROR!*/
    background-repeat: no-repeat;
    background-position: left top;
    animation-name: MovingBackground;
    height: 50vh;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 100%;
    box-shadow: 0 3px 3px gray;

  }
  @keyframes MovingBackground {
    0% {background-position: left top;}
    25% {background-position: right top;}
    50% {background-position: right bottom;}
    75% {background-position: left bottom;}
    100% {background-position: left top;}
  }
  .imgHolderS2 {
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
  }
  .imgHolderS2 img {
    width: 90%;
    display: block;
    margin: 5px auto;
    border-radius: 20%;
    margin-bottom: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 5px gray,
     -5px 0 5px gray;
  }
  .butn {
    display: block;
    font-size: 18px;
    box-shadow: 0 3px 3px gray;
  }
